.bubble > * {
  background-color: rgba(1, 141, 210, 0.5);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
}

#bubble1 {
  left: 45%;
  animation: bubble-move 4s ease-in infinite 1.3s;
}

#bubble2 {
  left: 30%;
  animation: bubble-move 4s ease-in infinite 1.3s;
}

#bubble3 {
  left: 60%;
  animation: bubble-move 4s ease-in infinite 1.3s;
}

@keyframes bubble-move {
  0% {
    width: 50px;
    height: 50px;
    transform: translateY(0);
  }
  100% {
    width: 175px;
    height: 175px;
    transform: translateY(-100vh);
  }
}
