:root {
  --face-size: 100px;
}

button {
  margin-top: 10vh;
  margin-left: 80%;
}

#wrap1 {
  position: absolute;
  top: 20vh;
  left: 40vw;
}

.dice {
  width: var(--face-size);
  height: var(--face-size);
  transform-style: preserve-3d;
}

.dice img {
  width: 100%;
  height: 100%;
}

.face {
  position: absolute;
  width: 200%;
  height: 200%;
  transition: all 2s;
}

.front {
  transform: translateZ(var(--face-size));
}

.back {
  transform: rotateY(180deg) translateZ(var(--face-size));
}

.right {
  transform: rotateY(90deg) translateZ(var(--face-size));
}

.left {
  transform: rotateY(-90deg) translateZ(var(--face-size));
}

.top {
  transform: rotateX(90deg) translateZ(var(--face-size));
}

.bottom {
  transform: rotateX(-90deg) translateZ(var(--face-size));
}
