.sauce {
  margin-top: 0px;
  width: 170px;
  height: 170px;
}

.coaster {
  display: inline;
  position: relative;
  margin: 0;
  padding: 150px 0;
}

.coaster-animation::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 50px;
  border-radius: 100px / 40px;
  border-style: double;
  background-color: rgba(158, 65, 17, 0.1);
}

.coaster-animation {
  position: absolute;
  top: 250px;
  background-color: rgba(158, 65, 17, 0.6);
  width: 150px;
  height: 90px;
  border-radius: 100px / 40px;
  border-style: double;
  overflow: hidden;
}

.coaster-animation::after {
  content: "";
  position: absolute;
  top: 30px;
  width: 150px;
  height: 60px;
  border-radius: 100px / 40px;
  border-style: dotted;
  background-color: rgba(158, 65, 17, 0.2);
}

.curtain-animation::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 40px;
  border-radius: 100px / 30px;
  border-style: double;
  background-color: rgba(158, 65, 17, 0.5);
}

.curtain-animation {
  z-index: 10;
  position: absolute;
  left: 30%;
  top: 100px;
  background-color: rgba(158, 65, 17, 0.2);
  width: 150px;
  height: 200px;
  border-radius: 120px / 40px;
  border-style: double;
  transition: 1.5s;
  overflow: hidden;
}

.coaster:hover > .curtain-animation {
  height: 40px;
}
