body {
  margin: 0;
  padding: 150px 0;
}

.wrap-coaster {
  position: relative;
  left: 30%;
  top: 100px;
  background-color: rgba(158, 65, 17, 0.6);
  width: 150px;
  height: 90px;
  border-radius: 100px / 40px;
  border-style: double;
  overflow: hidden;
}

.wrap-coaster::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -2px;
  width: 150px;
  height: 50px;
  border-radius: 100px / 40px;
  border-style: double;
  background-color: rgba(158, 65, 17, 0.1);
}

.wrap-coaster::after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  width: 150px;
  height: 70px;
  border-radius: 100px / 40px;
  border-style: dotted;
  background-color: rgba(158, 65, 17, 0.2);
}

.light-animation {
  position: absolute;
  left: 30%;
  top: 100px;
  background-color: rgba(158, 65, 17, 0.2);
  width: 150px;
  height: 200px;
  border-radius: 100px / 30px;
  border-style: double;
  overflow: hidden;
  transition: 1.5s;
}

.light-animation::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -2px;
  width: 150px;
  height: 40px;
  border-radius: 90px / 20px;
  border-style: double;
  background-color: rgba(158, 65, 17, 0.5);
}

.wrap:hover > .light-animation {
  height: 40px;
}
